{% extends 'base.html' %}

{% block content %}
    <div class="pure-g-r content-ribbon">
        <div class="pure-u-1">
            <h2>Informe seus dados de cadastro</h2>
            <form class="pure-form pure-form-stacked">
                <fieldset>
                    <ul class="errorlist">
                        <li>Usuário ou senha inválido</li>
                    </ul>

                    <div class="pure-control-group">
                        <label for="username">Usuário</label>
                        <input id="username" type="text" />
                        <ul class="errorlist">
                            <li>Usuário ou senha inválido</li>
                        </ul>
                    </div>

                    <div class="pure-control-group">
                        <label for="name">Senha</label>
                        <input id="name" type="password" />
                    </div>
                    <div class="pure-controls">
                        <button type="submit" class="pure-button pure-button-primary">Entrar</button>
                    </div>
                </fieldset>
                <p>
                    Não é cadastrado? <a href="{% url 'accounts:register' %}" title="">Cadastre-se</a> <br />
                    Esqueceu a senha? <a href="" title="">Nova senha</a> <br />
                </p>
            </form>
        </div>
    </div>
    <div class="footer">
        Simple MOOC - Uma simples plataforma de ensino a distância
    </div>
</div>
<script src="http://yui.yahooapis.com/3.12.0/build/yui/yui-min.js"></script>
</body>


{% endblock %}